[Desktop Entry]
Encoding=UTF-8
Name=Link to Using dup2 for Redirection and Pipes - CS 702 - Operating Systems - Spring 2005
Type=Link
URL=http://www.cs.loyola.edu/~jglenn/702/S2005/Examples/dup2.html
Icon=text-html
Name[en_US]=pipe_example
