[Desktop Entry]
Encoding=UTF-8
Name=Link to c - WNOHANG Macro in Waitpid Function - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/33015244/wnohang-macro-in-waitpid-function
Icon=text-html
Name[en_US]=WNOHANG_example
